{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>To Do Application</title>
        <meta charset="UTF-8">
        <meta name="author" content="INIAD">
    </head>
    <body>
        <h1>Edit task</h1>
        <p>You can edit tasks from the following form.</p>
        <form action="{% url 'update' task.id%}" method="post">
            {% csrf_token %}
            <div>
                <label for="titleInput">Title</label><br>
                <input type="text" id="titleInput" name="title"
                placeholder="Input title" value="{{task.title}}">
            </div>
            <div>
                <label for="dueInput">Due at:</label><br>
                <input type="datetime-local" id="dueInput"
                name="due_at" value="{{ task.due_at|date:"Y-m-d H:i" }}">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <br>
    </body>
</html>